<style>

nav {color: blue;
    text-decoration:underline; 
    }
h1 {text-align: center; 
    color: red;
    text-decoration: underline;
    }
.leftBox {float: left;

        }
h3{text-align: center;
    text-decoration: underline;}


#ComFou.leftbox {float: left;

}

}

section>h3{text-align: center;
            text-decoration: underline;}
section p {color: blue} 

.centerBox {text-align: center;}
</style>